<!doctype html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet"> 
        <title>Warped</title>
    </head>
    <style type="text/css">
        body {
            background-color: black;
        }
        .useFont {
            font-family: 'Aldrich';
            font-size: 0px;
        }
    </style>
    <body>
        <canvas id="gameCanvas"></canvas>
        <script src="../src/index.ts" type="module"></script>
        <div class="useFont">Aldrich</div>
    </body>
</html>